.pricing-section {
  background: #051235;
  padding: 70px;
  color: white;
  text-align: center;
}

.pricing-section h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.1;
}

.pricing-section h2 span {
  color: #4b8cff;
}

.pricing-subtitle {
  color: #9aa7c7;
  margin-top: 12px;
  margin-bottom: 50px;
  font-size: 15px;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.pricing-card {
  position: relative;
  background: #122347;
  border: 1px solid #2a3d68;
  border-radius: 24px;
  padding: 28px;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.pricing-card:hover {
  transform: translateY(-4px);
}

.pricing-card.active {
  border: 2px solid #ff9500;
  box-shadow: 0 0 20px rgba(255, 149, 0, 0.2);
}

.popular-badge {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);

  background: #ff9500;
  color: white;

  padding: 6px 16px;
  border-radius: 30px;

  font-size: 12px;
  font-weight: 600;
}

.pricing-card h3 {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 700;
}

.desc {
  color: #9aa7c7;
  margin: 10px 0 20px;
  font-size: 14px;
  line-height: 1.6;
}

.starting {
  color: #8d9cb9;
  font-size: 11px;
  letter-spacing: 1px;
}

.pricing-card h1 {
  font-size: 40px;
  margin: 8px 0 18px;
  font-weight: 800;
}

.pricing-card hr {
  border: none;
  height: 1px;
  background: #2d4069;
  margin: 20px 0;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
}

.pricing-card li {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;

  color: #d2d8e4;
  font-size: 14px;
  line-height: 1.5;
}

.pricing-card li svg {
  color: #ff9500;
  margin-top: 3px;
  font-size: 14px;
}

.pricing-card button {
  margin-top: 20px;
  width: 100%;

  padding: 14px;

  border: none;
  border-radius: 40px;

  background: #31486f;
  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s ease;
}

.pricing-card button:hover {
  opacity: 0.9;
}

.pricing-card.active button {
  background: #ff9500;
}

/* Tablet */

@media (max-width: 992px) {
  .pricing-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .pricing-section h2 {
    font-size: 40px;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .pricing-section {
    padding: 60px 20px;
  }

  .pricing-section h2 {
    font-size: 34px;
  }

  .pricing-subtitle {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .pricing-card {
    padding: 22px;
  }

  .pricing-card h3 {
    font-size: 22px;
  }

  .pricing-card h1 {
    font-size: 34px;
  }

  .pricing-card li {
    font-size: 13px;
  }
}